# VS user/workspace
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build dirs (both top-level and nested)
Debug/
Release/
x64/
Win32/
*/Debug/
*/Release/

# Compiled objects & intermediates
*.obj
*.iobj
*.pdb
*.ipdb
*.idb
*.ilk
*.tlog
*.pch
*.log
*.cache
*.VC.db
*.VC.VC.opendb
*.lastcodeanalysissucceeded
*.opendb

# Binaries & libs
*.exe
*.dll
*.lib
*.exp
*.recipe
